// Define variables for your color scheme

$dark-brown : #141412;
$light-brown : #1e1e1d;
// for container
$gold: #FFD700;
$bright-yellow: #f8df6d;
$yellow : #c5a569;
$light-yellow: #FAFAD2;
$brown : #CD853F;
$white : #f8f6ec;
$black: #000000;
$chocolate: #D2691E;
$saddlebrown: #8B4513;
$sienna: #A0522D;
$form-gold: #D1AE41;

$blue: #323d4e;
$dark-blue: #1e242f;
// in case we want blue pallette
