// Specific CSS for your home-page
.item_pic {
  width: 100%;
  object-fit: cover;
}

.items-list > h3 {
  text-align: center;

  font-family: 'Vendome';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;

  /* identical to box height */
  color: #fff;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}


.items {

  animation: 1.5s ease-out 0s 1 slideInFromLeft;
  border: 4px solid;
  border-image-source: linear-gradient(90deg, rgba(255, 214, 0, 0) 0%, #FFF1A8 52.6%, rgba(255, 214, 0, 0) 100%);

  padding: 31px 39px;
  gap: 10px;

  width: 155px;
  height: 740px;

  background: rgba(0, 0, 0, 0.75);

  border-style: solid;
  border-width: 2px;
  border-image: linear-gradient(90deg, rgba(255,255,255,0) 0%, $bright-yellow 50%, rgba(255,255,255,0) 100%) 1;
  // border-image: linear-gradient(270.28deg, rgba(255, 255, 255, 0) 0.22%, #FFFFFF 49.99%, rgba(0, 0, 0, 0) 99.76%) 1;
}

.material_icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 75%;
  grid-gap: 32px;
  margin: 0 auto;
}

.selected_item {
  height: 100px;
  width: 100px;
  object-fit: cover;
  margin: auto;
}
