<div class="container">
<%= @success %>

<div class="header">
  <h1>Lost Ark Honing Simulator</h1>
</div>


<div class="slidecontainer">
  <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
</div>

<div class="w3-light-grey w3-xlarge" style="width:50%">
  <div class="w3-container w3-green" style="width:50%">50%</div>
  <h3 class="SliderText"> Success chance / max success chance</h3>
</div>

<br><br>

<div class="w3-light-grey w3-xlarge" style="width:50%">
  <div class="w3-container w3-green" style="width:50%">50%</div>
  <h3 class="SliderText" id="protection"> Bad luck protection %</h3>
</div>

<div class="counter">
  <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
  <div class="notification-content">
    <h2>100/1000</h2>
  </div>
</div>

<div class="cards w-50">
  <div class="card-category" style="background-color:white; color:black;">
    Material 1 <br>
    <img class="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" /> <br>
    1000/5000 <br>
  </div>
</div>
<img class="avatar-square" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />

<div class="dropdown">
  <button class="dropbtn">Item Level ⬇</button>
  <div class="dropdown-content">
    <a href="#">Level 1</a>
    <a href="#">Level 2</a>
    <a href="#">Level 3</a>
    <a href="#">Level 4</a>
    <a href="#">Level 5</a>
    <a href="#">Level 6</a>
    <a href="#">Level 7</a>
    <a href="#">Level 8</a>
    <a href="#">Level 9</a>
    <a href="#">Level 10</a>
    <a href="#">Level 11</a>
    <a href="#">Level 12</a>
  </div>
</div>
</div>
