<div class="container">

  <%= simple_form_for(:item, url: pages_path, method: "get") do |f|%>
    <% @items.each do |item| %>
    <div class="item-container">
      <%# insert img here %>
      <h2> <%= item.name.capitalize %> </h2>
        <%= f.input "#{item.name}", as: :numeric, input_html: { min: '0', max: '19' } %>
    </div>
    <% end %>
  <%= f.submit %>
  <% end %>
</div>
