// how to do background image in css
//
// pass the url
//
// url("..")
//
// import to index @import and name of file

body {
  background-image: url("maincontainer.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

// body {
//   background-image: url("background-gif.gif");
//   background-position: center;
//   background-attachment: fixed;
//   background-repeat: no-repeat;
//   background-size: cover;
// }
