.button {
  border: none;
  color: white;
  padding: 25px 50px;
  border-radius: 40px;
  text-align: center;
  font-size: large;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  margin: 80px 2px;
  cursor: pointer;
  background-color: #7a4c07;
}

.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */

.w3-light-grey.w3-xlarge{
  border-radius: 40px;
}

.w3-light-grey.w3-xlarge.mb-5{
  width: 60%;
}

.w3-container.w3-green{
  border-radius: 50px 0px 0px 50px
}





// color : #7a4c07
