.button {
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: white;

}

.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */

.link{
  text-decoration: none;
  color: white;
}

.button-primary{

  padding: 21px 50px;
  gap: 10px;

  // position: absolute;
  width: 164px;
  height: 65px;
  // left: 788px;
  // top: 958px;

  background: rgba(81, 80, 80, 0.75);

  // font-family: 'Vendome';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */
  color: #FFFFFF;

  /* Glow */
  text-shadow: 0px 0px 10px #FFFFFF;

  /* Border */
  border-style: solid;
  border-width: 2px;
  border-image: linear-gradient(90deg, rgba(255,255,255,0) 0%, $bright-yellow 50%, rgba(255,255,255,0) 100%) 1;
  // border-image: linear-gradient(270.28deg, rgba(255, 255, 255, 0) 0.22%, #FFFFFF 49.99%, rgba(0, 0, 0, 0) 99.76%) 1;

  &:hover{
    color: black;
    background-image: radial-gradient(circle at center,$bright-yellow,rgba(255, 255, 255, 0));
  }
}
