.container {
  display: flex;
  flex-direction: row;
  justify-self: center;
  justify-content: space-between;
}
.container-index {
  display: flex;
  flex-direction: row;
  justify-self: center;
  justify-content: center;
}

.wrap-middle{

  width: 470px;
  height: 830px;
  justify-content: center;

  background: rgba(0, 0, 0, 0.75);

  border-top: 3px solid;
  border-bottom: 3px solid;
}
