.container {
  display: flex;
  flex-direction: row;
  justify-self: center;
  justify-content: space-between;
}
.container-index {
  display: flex;
  flex-direction: row;
  justify-self: center;
  justify-content: center;
}

.wrap-middle{

  width: 535px;
  height: 800px;
  justify-content: center;

  background: rgba(0, 0, 0, 0.75);

  border-style: solid;
  border-width: 2px;
  border-image: linear-gradient(90deg, rgba(255,255,255,0) 0%, $bright-yellow 50%, rgba(255,255,255,0) 100%) 1;
  // border-image: linear-gradient(270.28deg, rgba(255, 255, 255, 0) 0.22%, #FFFFFF 49.99%, rgba(0, 0, 0, 0) 99.76%) 1;

  margin-bottom: 32px;
}
