.attempts {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  gap: 10px;

  width: 173px;
  // height: 358px;

  background: rgba(0, 0, 0, 0.75);

  border-top: 3px solid;
  border-bottom: 3px solid;
}

.counter {
  display: flex;
  align-items: center;
  margin: 5px 0px;
}

.mat-pic {
  width: 35px;
  height: 34px;
  left: 20px;
  top: 30px;

  border-radius: 100px;
}
