@keyframes slideInFromRight {
  0% {
    transform: translateX(+100%);
  }
  100% {
    transform: translateX(0);
  }
}

.attempts {
  animation: 1.5s ease-out 0s 1 slideInFromRight;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  gap: 10px;

  width: 155px;
  height: 740px;

  background: rgba(0, 0, 0, 0.75);

  border-style: solid;
  border-width: 2px;
  border-image: linear-gradient(90deg, rgba(255,255,255,0) 0%, $bright-yellow 50%, rgba(255,255,255,0) 100%) 1;
  // border-image: linear-gradient(270.28deg, rgba(255, 255, 255, 0) 0.22%, #FFFFFF 49.99%, rgba(0, 0, 0, 0) 99.76%) 1;
}

.counter {
  display: flex;
  align-items: center;
  margin: 5px 0px;
}

.mat-pic {
  width: 70px;
  height: 70px;
  left: 20px;
  top: 30px;

  border-radius: 100%;
}
