.item-container {
  text-align: center;
  margin-top: 20px;
}

.submit {
  background-color:#935a0c;
    width: 82px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#fafafa;
    font-family:arial;
    font-size:12px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 0px 0px #70706f;
    padding: 10px;
}.submit:hover {
    background-color: #7b4c0b;
}.submit:active {
    position:relative;
    top:1px;
}
