.active-item img{
  box-shadow: 0 0 0 3px $bright-yellow;
}

.selected_item{
  position: relative;
  &:after{
    background-image: url(../../images/DEFINITELY_NOT_STOLEN.png);
  }

}

.honing-level{

  right: 388px;
  bottom: 565px;
  color: white;
  font-weight: bold;
}
