.active-item {
  border: 6px solid $blue;
}

.selected_item{
  position: relative;
  &:after{
    background-image: url(../../images/DEFINITELY_NOT_STOLEN.png);
  }

}

.honing-level{

  right: 388px;
  bottom: 565px;
  color: white;
}
