.SliderText {
  position: absolute;
  /* display: flex; */
  /* align-items: center; */
  width: 100%;
  color: black;
  transform: translate(80px, -36px);
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 10px; /* Set a specific slider handle width */
  height: 40px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 10px; /* Set a specific slider handle width */
  height: 40px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.solar-grace-slider {
 display: flex;
 padding: 10px;
 align-items: center;
}

.solar-blessing-slider {
  display: flex;
  padding: 10px;
  align-items: center;
}

.solar-protection-slider {
  display: flex;
  padding: 10px;
  align-items: center;
}
