.SliderText {
  position: absolute;
  /* display: flex; */
  /* align-items: center; */
  width: 100%;
  color: black;
  transform: translate(80px, -36px);
}

.slider{
  width: 250px;
  margin: 15px
}

.solar-grace-slider {
 display: flex;
 padding: 10px;
 align-items: center;
}

.solar-blessing-slider {
  display: flex;
  padding: 10px;
  align-items: center;
}

.solar-protection-slider {
  display: flex;
  padding: 10px;
  align-items: center;
}
