#ghost {
  display: none;
}

.gif {
  margin-right: 45px;
  display: flex;
  justify-content: center;
  z-index: 10000;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  img {
    width: 1000px;
    height: 1000px;
  }
}
