<div class="honing-item d-flex justify-content-center text-center" data-active-target="honed">
  <div style="height: 100px; width: 100px;">
    <%=image_tag("items/pants.png", class:"selected_item")%>
    <h2>+<%= @item.current_level.level %></h2>
  </div>
</div>
