<div class="d-flex justify-content-center" data-active-target="honed">
  <div data-active-target="img" class="d-flex justify-content-center">
    <%# <h1 class="honing-item"></h1> %>
    <div>
      <h2 class="honing-level" data-active-target="level" data-computations-target="level" style="margin-top: 115px;"></h2>
    </div>
    <div class="gif" id="ghost" data-computations-target="win">
      <%= image_tag "success.gif" %>
    </div>
    <div class="gif" id="ghost" data-computations-target="fail">
      <%= image_tag "fail.gif" %>
    </div>
  </div>
</div>
