<div class="d-flex justify-content-center" data-active-target="honed">
  <div data-active-target="img" class="d-flex justify-content-end">
    <%# <h1 class="honing-item"></h1> %>
    <h2 class="honing-level" data-active-target="level"></h2>
  </div>
</div>
