<div class="cards">
  <div class="grid mt-5">
    <div class="card-category" style="background-color:white; color:black;">
      Shards <br>
      <img class="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" /> <br>
      1000 <br>
    </div>
    <div class="card-category" style="background-color:white; color:black;">
      Gold <br>
      <img class="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" /> <br>
      1000 <br>
    </div>
    <div class="card-category" style="background-color:white; color:black;">
      Silver <br>
      <img class="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" /> <br>
      1000 <br>
    </div>
    <div class="card-category" style="background-color:white; color:black;">
      Leapstone <br>
      <img class="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" /> <br>
      1000 <br>
    </div>
    <div class="card-category" style="background-color:white; color:black;">
      Oreha <br>
      <img class="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" /> <br>
      1000 <br>
    </div>
    <div class="card-category" style="background-color:white; color:black;">
      Destruction/Guardian <br>
      <img class="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" /> <br>
      1000 <br>
    </div>
  </div>
</div>
