<div class="col-2">
  <h3 style="text-align: center;">Counter</h3>
  <div class="Attempts">
    <% @materials.each do |material| %>
      <div class="counter">
        <%= image_tag("materials/#{material.name}.png", class:"mat-pic")%>
        <div class="notification-content">
          <h5><%=material.amount%></h5>
        </div>
      </div>
    <% end %>
   </div>

    <h4 class="mt-4">Attempt counter</h4>
    <div class="Attempts">
      <div class="d-flex justify-content-between w-100">
        <p>Current</p>
        <p><small>9</small></p>
      </div>
      <div class="d-flex justify-content-between w-100">
        <p>Total</p>
        <p><small><%= @total_attempt_counter %></small></p>
      </div>
    </div>
  </div>
