<div data-current-level="<%= @service.current_level.level %>" data-computations-target="service">
  <div class="d-flex justify-content-center w-100 my-5" data-action="click->computations#hone">
    <h3 class="button-primary">HONE</h3>
  </div>
</div>
