<div class="navbar">
  <div class="logo">
    <%= image_tag("LA_LOGO.png", class:"navbar-img") %>
    <h1 style="margin-top: 17px;">HONING SYMULATOR</h1>
  </div>
  <div class="navbar-links">
    <h4><%= link_to("SET ITEMS", root_path, class: "help-link") %></h4>
    <!--<div class="report-a-bug-link">
      <h4>REPORT A BUG</h4>
    </div>-->
  </div>
</div>
