<!-- <div class="w3-light-grey w3-xlarge" style="width:100%">
  <div class="w3-container w3-green d-flex justify-content-space-between" style="width:<%= @current_level.success_chance.base %>%">
    <h2><%= @current_level.success_chance.base %>%</h2>
    <h2>/</h2>
    <h2><%= @current_level.success_chance.max %>%</h2>
  </div>
</div>
<h1></h1>
<div class="w3-light-grey w3-xlarge mb-5 d-none" style="width:75%">
  <div class="w3-container w3-green" style="width:50%">50%</div>
  <h3 class="SliderText" id="protection">Bad luck protection %</h3>
</div> -->

<div class="progress d-flex" style="height:40px; margin: 32px;" style="width:100%">
  <div class="progress-bar bg-success d-flex" role="progressbar" style="width:" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" data-computations-target="progress">
    <h4 style="color:black" data-computations-target="number"></h4>
  </div>
</div>
